<div class="container">
    {% include article_heading.html article = include.article %}

    <div class="content">
        {% if include.article.image %}
        {% lazy_image include.article.image %}
        {% endif %}

        {{ include.content }}

        {% if include.article.date %}
        <div class="date">
            {{ include.article.date | date: site.date_format }}
        </div>
        {% endif %}
        <div class="clearfix"></div>

        {% if include.article.previous.url %}
        <div class="previous">
            <a href="{{ include.article.previous.url }}">
                {% icon fa-angle-left %} {{ include.article.previous.title }}
            </a>
        </div>
        {% endif %}

        {% if include.article.next.url %}
        <div class="next">
            <a href="{{ include.article.next.url }}">
                {{ include.article.next.title }} {% icon fa-angle-right %}
            </a>
        </div>
        {% endif %}

        <div class="clearfix"></div>
    </div>
</div>
