<div class="container">
    {% include article_heading.html article = include.article %}

    <div class="content">
        {% if include.article.image %}
        {% lazy_image alt: include.article.title, src: include.article.image, class: preview %}
        {% endif %}

        <p>
            {% if include.article.excerpt %}
            {{ include.article.excerpt | strip_html }}
            {% else %}
            {{ site.description }}
            {% endif %}
        </p>

        <div class="more">
            <a href="{{ include.article.url | relative_url }}">
                more {% icon fa-angle-right %}
            </a>
        </div>

        {% if include.article.date %}
        <div class="date">
            {{ include.article.date | date: site.date_format }}
        </div>
        {% endif %}

        <div class="clearfix"></div>
    </div>
</div>
