<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>
        {{ page.title | escape }} | {{ site.title | escape }}
    </title>

    {% seo title=false %}

    {% feed_meta %}

    {% if page.date %}
    <link rel="amphtml" href="{{ page.url | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:medium,bold">

    <style>
        {% capture style %} {% include main.scss %} {% endcapture %}
        {{ style | scssify }}
    </style>


    <script src="https://cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
    <script>
        window.onload = function () {
            new Blazy({
                selector: 'header img,main img,main iframe'
            });
        };
    </script>

    {% include google_analytics.html %}
</head>
