{% for post in site.posts %}
<div class="container">
    <div class="heading">
        <h2 class="title">
            {{ post.title | escape }}
        </h2>
        <h3 class="subtitle">{{ post.tags }}</h3>
    </div>

    <div class="content">
        <img src="{{ post.image }}"/>
        {{ post.excerpt }}
        <div class="more">
            <a href="{{ post.url | relative_url }}">Read more<i class="fa fa-angle-right fa-fw fa-lg"></i></a>
        </div>
        <div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
        <div class="clearfix"></div>
    </div>
</div>
{% endfor %}
