{% assign added_pages = '' %}

<header>
<img src="{{ "/assets/logo.png" | relative_url }}" />

<nav>
    {% for p in site.pages %}
    {% unless added_pages contains p.id + ',' %}
    {% if p.title %}
    <a class="menu-item" href="{{ p.url | relative_url }}">
        <i class="fa {% if page.id == p.id %}fa-angle-right{% endif %} fa-fw fa-lg"></i>
        {{ p.title | downcase | escape }}
    </a>
    {% capture added_pages %}{{ added_pages }}{{ p.id }},{% endcapture %}
    {% endif %}
    {% endunless %}
    {% endfor %}

    <a class="menu-item" href="https://facebook.com/{{site.facebook_username}}">
        <i class="fa fa-facebook-square fa-fw fa-lg" aria-hidden="true"></i>facebook
    </a>

    <a class="menu-item" href="https://twitter.com/{{site.twitter_username}}">
        <i class="fa fa-twitter-square fa-fw fa-lg" aria-hidden="true"></i>twitter
    </a>

    <a class="menu-item" href="https://linkedin.com/in/{{site.linkedin_username}}">
        <i class="fa fa-linkedin-square fa-fw fa-lg" aria-hidden="true"></i>linkedin
    </a>

    <a class="menu-item" href="https://github.com/{{site.github_username}}">
        <i class="fa fa-github-square fa-fw fa-lg" aria-hidden="true"></i>github
    </a>

    <a class="menu-item" href="https://steamcommunity.com/id/{{site.steam_username}}">
        <i class="fa fa-steam-square fa-fw fa-lg" aria-hidden="true"></i>steam
    </a>
</nav>
</header>
