{% assign pages = site.pages | sort: 'order' %}
{% assign added_pages = '' %}

<header>
<img src="{{ '/assets/logo.png' | relative_url }}" />

<nav>
    {% for p in pages %}
    {% if p.title and p.id %}
    {% unless added_pages contains p.id + ',' %}
    <a class="menu-item" href="{{ p.url | relative_url }}">
        {% if page.id == p.id %}
        {% icon fa-angle-right %}
        {% else %}
        {% icon %}
        {% endif %}
        {{ p.title | downcase }}
    </a>
    {% capture added_pages %}{{ added_pages }}{{ p.id }},{% endcapture %}
    {% endunless %}
    {% endif %}
    {% endfor %}

    <a class="menu-item" href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
        {% icon fa-facebook-square %} facebook
    </a>

    <a class="menu-item" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
        {% icon fa-twitter-square %} twitter
    </a>

    <a class="menu-item" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
        {% icon fa-linkedin-square %} linkedin
    </a>

    <a class="menu-item" href="https://github.com/{{ site.github_username }}" target="_blank">
        {% icon fa-github-square %} github
    </a>

    <a class="menu-item" href="https://steamcommunity.com/id/{{ site.steam_username }}" target="_blank">
        {% icon fa-steam-square %} steam
    </a>
</nav>
</header>
