*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: $primary;
  font-family: $font-family;
  font-size: $unit;
}

h1,
h2,
h3 {
  font-weight: normal;
}

.disabled-link,
.selected-link,
a {
  color: $primary;
  text-decoration: underline;
  font-weight: bold;
  padding: $unit / 4 $unit / 2;
}

.selected-link,
a:hover {
  text-decoration: none;
  color: $secondary;
  background: $primary;
}

.disabled-link {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}