---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary: #231F20;
$secondary: #fff;
$unit: 15px;

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: $primary;
  font-family: 'Source Code Pro', sans-serif;
  font-size: $unit;
}

a {
  color: $primary;
  text-decoration: none;
  font-weight: bold;
  padding: $unit / 4 $unit / 2;

  &:hover {
    color: $secondary;
    background: $primary;
  }
}

img {
  max-width: 100%;
}

.left-col {
  position: fixed;
  top: 0;
  margin: $unit;
  width: $unit * 20;
}

.right-col {
  position: relative;
  left: $unit * 22;
  margin: 0 $unit;
  width: $unit * 40;
}

nav {
  margin: $unit auto;
  max-width: $unit * 10;

  #toggle {
    display: none;
  }

  #menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    display: block;
    padding: $unit / 2;
  }
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.container {
  margin-bottom: $unit;
  .heading {
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid $primary;
    .title {
      margin: $unit / 2 $unit;
      float: left;
      font-size: $unit * 2;
    }
    .subtitle {
      margin: $unit * 3 / 2 $unit $unit / 2 $unit;
      float: right;
      font-size: $unit;
    }
  }
  .content {
    margin: $unit / 2 $unit;
    text-align: justify;
    .more {
      float: left;
    }
    .date {
      float: right;
    }
  }
}

footer {
  text-align: center;
}

@import "_syntax-highlighting";
