---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary: #231F20;
$secondary: #fff;
$unit: 15px;

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: $primary;
  font-family: 'Source Code Pro', sans-serif;
  font-size: $unit;
}

.disabled-link, .selected-link, a {
  color: $primary;
  text-decoration: none;
  font-weight: bold;
  padding: $unit / 4 $unit / 2;
}

.selected-link, a:hover {
  color: $secondary;
  background: $primary;
}

img {
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: $unit * 64) {
  header {
    position: fixed;
    width: $unit * 20;
    margin: $unit;
  }
  main, footer {
    position: relative;
    left: $unit * 22;
    width: $unit * 40;
    margin: 0 $unit;
  }
}

@media screen and (max-width: $unit * 64) {
  header {
    width: 100%;
    margin: $unit 0;
  }
  main, footer {
    width: 100%;
    margin: 0;
  }
}

header {
  @media screen and (min-width: $unit * 64) {
    position: fixed;
    width: $unit * 20;
    margin: $unit;
  }
  @media screen and (max-width: $unit * 64) {
    width: 100%;
    margin: $unit 0;
  }
  top: 0;

  img {
    display: block;
    margin: 0 auto;
  }

  nav {
    margin: $unit auto;
    max-width: $unit * 10;

    .menu-item {
      display: block;
      padding: $unit / 2;
    }
  }
}

main {
  .container {
    margin-bottom: $unit;
    .heading {
      width: 100%;
      display: inline-block;
      border-bottom: 2px solid $primary;
      .title {
        margin: $unit / 2 $unit;
        float: left;
        font-size: $unit * 2;
      }
      .subtitle {
        margin: $unit * 3 / 2 $unit $unit / 2 $unit;
        float: right;
        font-size: $unit;
      }
    }
    .content {
      margin: $unit;
      text-align: justify;

      img {
        display: block;
        width: 100%;
        object-fit: cover;
        margin: $unit 0;

        &.preview {
          max-height: $unit * 10;
        }
      }

      p {
        margin: $unit 0;
      }

      .more {
        float: left;
      }
      .date {
        float: right;
      }
    }
  }
}

.pagination, footer {
  margin: $unit;
  text-align: center;
}

@import "_syntax-highlighting";
