---
layout: amp
---
<!doctype html>
<html ⚡ lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include amp_head.html %}

<body>

{% include amp_google_analytics.html %}

{% capture header %}{% include header.html %}{% endcapture %}
{{ header | ampify }}

<main>
    {% capture article %}
    {% include article.html article = page content = content %}
    {% endcapture %}
    {{ article | ampify }}

    {% include amp_disqus.html %}
</main>

{% capture footer %}{% include footer.html %}{% endcapture %}
{{ footer | ampify }}

</body>
</html>
